:root {
  --nat-navbar-bg: darkGreen;
<<<<<<< HEAD
  --nat-navbar-bg-color: darkGreen;
=======
>>>>>>> 718cf42aa67263f84fe4fc927d637f5dea801dfa
  --nat-navbar-bg-rgb: 0, 50, 32;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: var(--bs-gray-500);
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  --bs-light-rgb: 236, 236, 236;
  background-image: url("/background-grass.jpg");
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("/background-grass.jpg");
  background-size: cover;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
